body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #006A71;
  font-weight: bolder;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
}

h3 {
  color: #11999E;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 2;
}

hr {
  border: dotted #FF7E67 6px;
  border-bottom: none;
  width: 4%;
  margin: 75px auto;
}

a {
  color: #006A71;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #FF7E67;
}

.land {
  padding-top: 50px;
}

.top-container {
  background-color: #E0ECE4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  position: relative;
  padding-top: 50px;
  margin: 50px 0;
}

.bottom-container {
  background-color: #68B0AB;
  padding: 50px 0 20px;
}

.skill-row1 {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: right;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #ECF4F3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  padding-left: 700px;
}

.bottom-cloud {
  padding-bottom: 300px;
}

.avatar {
  height: 200px;
  width: 200px;
}

.frontend {
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
}

.backend {
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #68b0ab;
  background-image: -webkit-linear-gradient(top, #68b0ab, #006a71);
  background-image: -moz-linear-gradient(top, #68b0ab, #006a71);
  background-image: -ms-linear-gradient(top, #68b0ab, #006a71);
  background-image: -o-linear-gradient(top, #68b0ab, #006a71);
  background-image: linear-gradient(to bottom, #68b0ab, #006a71);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #006a71;
  background-image: -webkit-linear-gradient(top, #006a71, #ff7e67);
  background-image: -moz-linear-gradient(top, #006a71, #ff7e67);
  background-image: -ms-linear-gradient(top, #006a71, #ff7e67);
  background-image: -o-linear-gradient(top, #006a71, #ff7e67);
  background-image: linear-gradient(to bottom, #006a71, #ff7e67);
  text-decoration: none;
}
